.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 28%;
  background-color: lightgray;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-preview,
.chat-feed {
  flex: 1;
  overflow: auto;
  margin: 0; /* Ajoutez cette ligne pour supprimer les marges par défaut */
}

.message-input {
  margin-top: 10px;
}
