<h1 class="text-center pt-3">Calendrier</h1>
<h2 class="px-2">Évènements à venir</h2>
<div class="px-2 flex flex-col">
  <mat-card>
    <div class="flex flex-row items-center">
      <app-date-ephemeris class="px-2"/>
      <span>
      <mat-card-title-group>
        <mat-card-title>10h20 - Sortie</mat-card-title>
        <mat-card-subtitle>Auberge</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content><p>Ceci est une description du contenu de l'évènement.</p></mat-card-content>
    </span>
    </div>
  </mat-card>
</div>
