<h1 class="text-center pt-3">Calendrier</h1>
<h2 class="px-2">Évènements à venir</h2>
<div class="px-2 flex flex-col">
  <mat-card>
    <div class="flex flex-row px-3">
      <app-date-ephemeris class="pt-4"/>
      <div class="object-fill">
        <mat-card-header>
          <mat-card-title>10h20 - Sortie à la ferme</mat-card-title>
          <mat-card-subtitle>Ferme pédagogique d'alsace</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda
          cumque ducimus eius eligendi itaque natus recusandae repudiandae sed voluptates? Adipisci aspernatur expedita
          hic impedit incidunt nisi quas rerum sint?
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
