/* chat-input.component.scss */

.chat-input {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.chat-input-content {
  display: flex;
  align-items: center;
  padding: 8px;

}

textarea {
  flex: 1;
  min-height: 38px;
  resize: none;
  margin-right: 10px;
}

.chat-input-buttons {
  display: flex;
}

button {
  color: #444;
}
